<header class="header">

   <a href="{{@website.url}}" class="logo">
      {{#if @website.logo}}
         <img src="{{@website.logo}}"alt="{{@website.name}}" width="{{@website.logoSize.width}}" height="{{@website.logoSize.height}}">
      {{else}}
         {{@website.name}}
      {{/if}}
   </a>

   {{#if menus.mainMenu}}
      <nav class="navbar js-navbar">
         <button class="navbar__toggle js-toggle" aria-label="{{ translate 'partials.menu.menu' }}">{{ translate 'partials.menu.menu' }}</button>
         {{> menu menus.mainMenu}}
      </nav>
   {{/if}}

</header>
